[MASTER]
ignore=venv

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-args=12
max-positional-arguments=12
max-locals=25

[MESSAGES CONTROL]
# If I need to be more picky, can add more checks here later, or just add missing function docstrings to code so the rating goes up.
# Invalid-name is used, because of the short naming of abilities like STR, DEX, CON etc.
disable=
    invalid-name,
    duplicate-code
